# NEEDS TO BE IMPLEMENTED ON ZC7030 PART
# CUT 2 LVDS (connects to AD1)
# USING ADI reference PL

###
#  ADI1
###					
#input ADI_DATA_CLK;
NET rx_clk0_in_p LOC=Y12  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_clk0_in_n LOC=Y11  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#input ADI_RX_FRAME;
NET rx_frame0_in_p LOC=AA17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#NET "ADI1_RX_FRAME_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET rx_frame0_in_n LOC=AB17  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#input [5:0] ADI_RX; (ROUTE TO P1)
NET rx_data0_in_n[0]  LOC=T9  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_p[0]  LOC=T10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_n[1]  LOC=AA9 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_p[1]  LOC=Y9  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_n[2]  LOC=U8  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;   
NET rx_data0_in_p[2]  LOC=U9  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;   
NET rx_data0_in_n[3]  LOC=Y8  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_p[3]  LOC=W9  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_n[4]  LOC=W8  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_p[4]  LOC=V8  | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_n[5]  LOC=V10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET rx_data0_in_p[5]  LOC=U10 | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;

#output ADI_TX_FRAME;
NET tx_frame0_out_p LOC=AA15 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_frame0_out_n LOC=AB15 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;

#output [5:0] ADI_TX; (ROUTE TO P0)
NET tx_data0_out_n[0]  LOC=AB8  | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[0]  LOC=AB9  | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_n[1]  LOC=AB12 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[1]  LOC=AB13 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_n[2]  LOC=AB10 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[2]  LOC=AA10 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_n[3]  LOC=AA11 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[3]  LOC=AA12 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_n[4]  LOC=AA16 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[4]  LOC=Y16  | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_n[5]  LOC=AB14 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_data0_out_p[5]  LOC=AA14 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;

#output ADI_FB_CLK;
NET tx_clk0_out_p LOC=W14 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
NET tx_clk0_out_n LOC=W13 | IOSTANDARD=LVDS_25 | SLEW=fast | DRIVE=8;
#output ADI_EN;
#NET ADI1_EN LOC=U13 | IOSTANDARD=LVCMOS25 | SLEW=fast | DRIVE=8;

#output ADI_TXRX;
#NET ADI1_TXRX LOC=V11 | IOSTANDARD=LVCMOS25 | SLEW=fast | DRIVE=8;

###
#  ADI2
###

#input ADI_DATA_CLK;
NET rx_clk1_in_p LOC=H5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_clk1_in_n LOC=G5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#input ADI_RX_FRAME;
NET rx_frame1_in_p LOC=N5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET "ADI2_RX_FRAME_P" CLOCK_DEDICATED_ROUTE = FALSE; 
NET rx_frame1_in_n LOC=M4  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#input [5:0] ADI_RX; (ROUTE TO P1)
NET rx_data1_in_n[0]  LOC=E1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_p[0]  LOC=F1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_n[1]  LOC=J1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_p[1]  LOC=K1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_n[2]  LOC=L5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;   
NET rx_data1_in_p[2]  LOC=M5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;    
NET rx_data1_in_n[3]  LOC=H3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_p[3]  LOC=J3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_n[4]  LOC=H1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_p[4]  LOC=H2  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_n[5]  LOC=G3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
NET rx_data1_in_p[5]  LOC=G4  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#output ADI_TX_FRAME;
NET tx_frame1_out_p LOC=L7 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_frame1_out_n LOC=L6 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;

#output [5:0] ADI_TX; (ROUTE TO P0)
NET tx_data1_out_n[0]  LOC=H6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[0]  LOC=J6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_n[1]  LOC=F4  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[1]  LOC=F5  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_n[2]  LOC=G7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[2]  LOC=H7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_n[3]  LOC=F6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[3]  LOC=F7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_n[4]  LOC=N6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[4]  LOC=N7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_n[5]  LOC=K6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_data1_out_p[5]  LOC=K7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;

#output ADI_FB_CLK;
NET tx_clk1_out_p LOC=L4 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
NET tx_clk1_out_n LOC=K4 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#output ADI_EN;
#NET ADI2_EN LOC=N3 | IOSTANDARD=LVCMOS18 | SLEW=fast | DRIVE=8;

#output ADI_TXRX;
#NET ADI2_TXRX LOC=D3 | IOSTANDARD=LVCMOS18 | SLEW=fast | DRIVE=8;

NET spi_miso  LOC = A2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MISO
NET spi_mosi  LOC = B2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MOSI
NET spi_clk  LOC = A1 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_CK
NET spi_cs0  LOC = B4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD1_CS
NET spi_cs1  LOC = A4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD2_CS


##  LEDs
##  output [3:0] ps7_GPIO_O;
NET ps7_gpio[0] LOC = Y22 | IOSTANDARD=LVCMOS33;
NET ps7_gpio[1] LOC = V21 | IOSTANDARD=LVCMOS33;
NET ps7_gpio[2] LOC = V22 | IOSTANDARD=LVCMOS33;
NET ps7_gpio[3] LOC = W19 | IOSTANDARD=LVCMOS33;

## ADI reset
NET ps7_gpio[4] LOC = T11 | IOSTANDARD=LVCMOS25; # AD1_RESET
NET ps7_gpio[5] LOC = C3  | IOSTANDARD=LVCMOS18; # AD2_RESET

## ASFE signals
NET ps7_gpio[6]  LOC = AA22 | IOSTANDARD=LVCMOS33; # ASFE_Spare_1 
NET ps7_gpio[7]  LOC = AB22 | IOSTANDARD=LVCMOS33; # ASFE_Spare_2  
NET ps7_gpio[8]  LOC = W21  | IOSTANDARD=LVCMOS33; # ASFE_RSTN     
NET ps7_gpio[9]  LOC = AA20 | IOSTANDARD=LVCMOS33; # ADI1_TX_EN    
NET ps7_gpio[10] LOC = U18  | IOSTANDARD=LVCMOS33; # ASFE_Reserve1 
NET ps7_gpio[11] LOC = V18  | IOSTANDARD=LVCMOS33; # ASFE_Reserve2 
NET ps7_gpio[12] LOC = N20  | IOSTANDARD=LVCMOS33; # ASFE_Reserve4 
NET ps7_gpio[13] LOC = P20  | IOSTANDARD=LVCMOS33; # ASFE_Reserve3  
NET ps7_gpio[14] LOC = AB20 | IOSTANDARD=LVCMOS33; # ADI2_TX_EN
NET ps7_gpio[15] LOC = Y21  | IOSTANDARD=LVCMOS33; # ASFE_Spare_3
NET ps7_gpio[16] LOC = AA21 | IOSTANDARD=LVCMOS33; # ASFE_Spare_4

## ADAPT signals

NET ps7_gpio[17]  LOC = N22 | IOSTANDARD=LVCMOS33; # IO60NPB1 
NET ps7_gpio[18]  LOC = R22 | IOSTANDARD=LVCMOS33; # IO63PPB1  M88E1116R_RESETN

#NET ps7_gpio[17]  LOC = N21 | IOSTANDARD=LVCMOS33; # IO60PPB1  RGMII_TXCTL 
#NET ps7_gpio[18]  LOC = N22 | IOSTANDARD=LVCMOS33; # IO60NPB1 
#NET ps7_gpio[19]  LOC = R22 | IOSTANDARD=LVCMOS33; # IO63PPB1  M88E1116R_RESETN
#NET ps7_gpio[20]  LOC = T22 | IOSTANDARD=LVCMOS33; # IO63NPB1  RGMII_RXD1
#NET ps7_gpio[21]  LOC = T21 | IOSTANDARD=LVCMOS33; # IO62PDB1  RGMII_RXCTL
#NET ps7_gpio[22]  LOC = U22 | IOSTANDARD=LVCMOS33; # IO62NDB1  RGMII_RXD0
#NET ps7_gpio[23]  LOC = P21 | IOSTANDARD=LVCMOS33; # IO64PDB1  RGMII_RXD2
#NET ps7_gpio[24]  LOC = R21 | IOSTANDARD=LVCMOS33; # IO64NDB1  RGMII_RXD3
#NET ps7_gpio[25]  LOC = T20 | IOSTANDARD=LVCMOS33; # IO67PDB1  RGMII_TXD0
#NET ps7_gpio[26]  LOC = U20 | IOSTANDARD=LVCMOS33; # IO67NDB1  RGMII_RXCLK
#NET ps7_gpio[27]  LOC = R19 | IOSTANDARD=LVCMOS33; # IO68PDB1  WAN_PHY_MDC
#NET ps7_gpio[28]  LOC = T19 | IOSTANDARD=LVCMOS33; # IO68NDB1  RGMII_TXD1
#NET ps7_gpio[29]  LOC = T17 | IOSTANDARD=LVCMOS33; # IO69PDB1  RGMII_TXD2
#NET ps7_gpio[30]  LOC = U17 | IOSTANDARD=LVCMOS33; # IO69NDB1  WAN_PHY_MDIO
#NET ps7_gpio[31]  LOC = R17 | IOSTANDARD=LVCMOS33; # IO70PDB1  RGMII_TXCLK
#NET ps7_gpio[32]  LOC = R18 | IOSTANDARD=LVCMOS33; # IO70NDB1  RGMII_TXD3

##USB reset
NET ps7_gpio[19]  LOC = T15 | IOSTANDARD=LVCMOS33; # USBPHY_RESET_B
##EMMC reset
NET ps7_gpio[20]  LOC = AA19 | IOSTANDARD=LVCMOS33; # eMMC_RST_N

## SPI
NET ps7_gpio[21]  LOC = N17 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_MISO
NET ps7_gpio[22]  LOC = P18 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_MOSI
NET ps7_gpio[23]  LOC = N18 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_CK
NET ps7_gpio[24]  LOC = T16 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_ASFE_SPI_CS
NET ps7_gpio[25]  LOC = P19 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_TRSS_CS

#NET GPIO_O[40]  LOC = A2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MISO
#NET GPIO_O[41]  LOC = B2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MOSI
#NET GPIO_O[42]  LOC = A1 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_CK
#NET GPIO_O[43]  LOC = B4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD1_CS
#NET GPIO_O[44]  LOC = A4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD2_CS

NET ps7_gpio[26]  LOC = W15 | IOSTANDARD=LVCMOS25; # AD1_EN_AGC 
NET ps7_gpio[27]  LOC = T12 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN0 
NET ps7_gpio[28]  LOC = U12 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN1 
NET ps7_gpio[29]  LOC = V16 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN2 
NET ps7_gpio[30]  LOC = W16 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN3 
NET ps7_gpio[31]  LOC = U13 | IOSTANDARD=LVCMOS25; # AD1_ENABLE 
NET ps7_gpio[32]  LOC = V11 | IOSTANDARD=LVCMOS25; # AD1_TXNRX 

NET ps7_gpio[33]  LOC = P3 | IOSTANDARD=LVCMOS18; # AD2_EN_AGC 
NET ps7_gpio[34]  LOC = M3 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN0 
NET ps7_gpio[35]  LOC = M2 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN1 
NET ps7_gpio[36]  LOC = K3 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN2 
NET ps7_gpio[37]  LOC = K2 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN3 
NET ps7_gpio[38]  LOC = N3 | IOSTANDARD=LVCMOS18; # AD2_ENABLE 
NET ps7_gpio[39]  LOC = D3 | IOSTANDARD=LVCMOS18; # AD2_TXNRX 


##ADAPT Debug
NET AXI_GPIO_I[0]  LOC = U19  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin35 
NET AXI_GPIO_I[1]  LOC = V20  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin81   
NET AXI_GPIO_I[2]  LOC = Y17  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin83   
NET AXI_GPIO_I[3]  LOC = Y18  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin84  
NET AXI_GPIO_I[4]  LOC = V17  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin85 
NET AXI_GPIO_I[5]  LOC = W18  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin87   
NET AXI_GPIO_I[6]  LOC = AB18 | IOSTANDARD=LVCMOS33; # ADAPT_DebPin89   

NET AXI_GPIO_I[7]  LOC = W11 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT0
NET AXI_GPIO_I[8]  LOC = W10 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT1
NET AXI_GPIO_I[9]  LOC = Y14 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT2
NET AXI_GPIO_I[10]  LOC = Y13 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT3
NET AXI_GPIO_I[11]  LOC = U14 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT4
NET AXI_GPIO_I[12]  LOC = U15 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT5
NET AXI_GPIO_I[13]  LOC = V13 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT6
NET AXI_GPIO_I[14]  LOC = V12 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT7

NET AXI_GPIO_I[15]  LOC = J4 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT0
NET AXI_GPIO_I[16]  LOC = P4 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT1
NET AXI_GPIO_I[17]  LOC = F2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT2
NET AXI_GPIO_I[18]  LOC = N2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT3
NET AXI_GPIO_I[19]  LOC = P1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT4
NET AXI_GPIO_I[20]  LOC = L1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT5
NET AXI_GPIO_I[21]  LOC = L2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT6
NET AXI_GPIO_I[22]  LOC = N1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT7

NET AXI_GPIO_I[23]  LOC = W20| IOSTANDARD=LVCMOS33; # ZYNQ_Ext5vdet


NET "processing_system7_0_FCLK_CLK0" TNM_NET = "ps7_fclk_clk0";
TIMESPEC TS_ps7_fclk_clk0 = PERIOD "ps7_fclk_clk0" 100 MHz;

NET "processing_system7_0_FCLK_CLK1" TNM_NET = "ps7_fclk_clk1";
TIMESPEC TS_ps7_fclk_clk1 = PERIOD "ps7_fclk_clk1" 200 MHz;

NET "processing_system7_0_FCLK_CLK2" TNM_NET = "ps7_fclk_clk2";
TIMESPEC TS_ps7_fclk_clk2 = PERIOD "ps7_fclk_clk2" 200 MHz;

NET "rx_clk0_in_p" TNM_NET = "rx_clk0_in_p";
TIMESPEC "TS_rx_clk0_in_p" = PERIOD "rx_clk0_in_p" 250 MHz;
NET "rx_clk0_in_n" TNM_NET = "rx_clk0_in_n";
TIMESPEC "TS_rx_clk0_in_n" = PERIOD "rx_clk0_in_n" 250 MHz;

OFFSET = IN BEFORE "rx_clk0_in_p" RISING;
OFFSET = IN BEFORE "rx_clk0_in_p" FALLING;

OFFSET = OUT AFTER "rx_clk0_in_p" REFERENCE_PIN "tx_clk0_out_p" RISING;
OFFSET = OUT AFTER "rx_clk0_in_p" REFERENCE_PIN "tx_clk0_out_p" FALLING;

NET "rx_clk1_in_p" TNM_NET = "rx_clk1_in_p";
TIMESPEC "TS_rx_clk1_in_p" = PERIOD "rx_clk1_in_p" 250 MHz;
NET "rx_clk1_in_n" TNM_NET = "rx_clk1_in_n";
TIMESPEC "TS_rx_clk1_in_n" = PERIOD "rx_clk1_in_n" 250 MHz;

OFFSET = IN BEFORE "rx_clk1_in_p" RISING;
OFFSET = IN BEFORE "rx_clk1_in_p" FALLING;

OFFSET = OUT AFTER "rx_clk1_in_p" REFERENCE_PIN "tx_clk1_out_p" RISING;
OFFSET = OUT AFTER "rx_clk1_in_p" REFERENCE_PIN "tx_clk1_out_p" FALLING;

## ETHERNET
NET rgmii_txd[0]  LOC = T20 | IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=24; # IO67PDB1  RGMII_TXD0
NET rgmii_txd[1]  LOC = T19 | IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=24; # IO68NDB1  RGMII_TXD1
NET rgmii_txd[2]  LOC = T17 | IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=24; # IO69PDB1  RGMII_TXD2
NET rgmii_txd[3]  LOC = R18 | IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=24; # IO70NDB1  RGMII_TXD3
NET rgmii_tx_ctl  LOC = N21 | IOSTANDARD=LVCMOS33 | SLEW=fast | DRIVE=24; # IO60PPB1  RGMII_TXCTL 
NET rgmii_txc     LOC = R17 | IOSTANDARD=LVCMOS33 | SLEW=fast;            # IO70PDB1  RGMII_TXCLK

NET rgmii_rxd[0]  LOC = U22 | IOSTANDARD=LVCMOS33; # IO62NDB1  RGMII_RXD0
NET rgmii_rxd[1]  LOC = T22 | IOSTANDARD=LVCMOS33; # IO63NPB1  RGMII_RXD1
NET rgmii_rxd[2]  LOC = P21 | IOSTANDARD=LVCMOS33; # IO64PDB1  RGMII_RXD2
NET rgmii_rxd[3]  LOC = R21 | IOSTANDARD=LVCMOS33; # IO64NDB1  RGMII_RXD3
NET rgmii_rx_ctl  LOC = T21 | IOSTANDARD=LVCMOS33; # IO62PDB1  RGMII_RXCTL
NET rgmii_rxc     LOC = U20 | IOSTANDARD=LVCMOS33; # IO67NDB1  RGMII_RXCLK

NET MDC                   LOC = R19 | IOSTANDARD=LVCMOS33; # IO68PDB1  WAN_PHY_MDC
NET gmii_to_rgmii_0_MDIO  LOC = U17 | IOSTANDARD=LVCMOS33; # IO69NDB1  WAN_PHY_MDIO

#setup and hold times (2.5ns setup, 1.5ns hold)
OFFSET = IN 2.5 ns valid 4 ns BEFORE "rgmii_rxc" RISING;  
OFFSET = IN 2.5 ns valid 4 ns BEFORE "rgmii_rxc" FALLING;

NET rgmii_rxc TNM_NET = "CLK_rgmii_rxc";
TIMESPEC "TS_CLK_rgmii_rxc" = PERIOD "CLK_rgmii_rxc" 8000 ps HIGH 50.00%;

#INST "*delay_rgmii_rx_ctl"  IDELAY_VALUE = 11;
#INST "*delay_rgmii_rxd*"    IDELAY_VALUE = 11;
INST "*delay_rgmii_rx_ctl"  IODELAY_GROUP = "enet_dgrp1";
INST "*delay_rgmii_rxd*"    IODELAY_GROUP = "enet_dgrp1";
INST "*dlyctrl"             IODELAY_GROUP = "enet_dgrp1";



############

#NET "ADI1_DATA_CLK_P" TNM_NET = "ADI1_DATA_CLK_P";
#TIMESPEC "TS_ADI1_DATA_CLK_P" = PERIOD "ADI1_DATA_CLK_P" 300 MHz;
#NET "ADI1_DATA_CLK_N" TNM_NET = "ADI1_DATA_CLK_N";
#TIMESPEC "TS_ADI1_DATA_CLK_N" = PERIOD "ADI1_DATA_CLK_N" 300 MHz;

#OFFSET = IN BEFORE "ADI1_DATA_CLK_P" RISING;
#OFFSET = IN BEFORE "ADI1_DATA_CLK_P" FALLING;

#OFFSET = OUT AFTER "ADI1_DATA_CLK_P" REFERENCE_PIN "ADI1_FB_CLK_P" RISING;
#OFFSET = OUT AFTER "ADI1_DATA_CLK_P" REFERENCE_PIN "ADI1_FB_CLK_N" FALLING;


#input ADI_DATA_CLK;
#NET ADI2_DATA_CLK_P LOC=H5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_DATA_CLK_N LOC=G5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#input ADI_RX_FRAME;
#NET ADI2_RX_FRAME_P LOC=N5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET "ADI2_RX_FRAME_P" CLOCK_DEDICATED_ROUTE = FALSE; 
#NET ADI2_RX_FRAME_N LOC=M4  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#input [5:0] ADI_RX; (ROUTE TO P1)
#NET ADI2_RX_N[0]  LOC=E1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_P[0]  LOC=F1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_N[1]  LOC=J1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_P[1]  LOC=K1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_N[2]  LOC=L5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;   
#NET ADI2_RX_P[2]  LOC=M5  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;  
#NET ADI2_RX_N[3]  LOC=H3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_P[3]  LOC=J3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_N[4]  LOC=H1  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_P[4]  LOC=H2  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_N[5]  LOC=G3  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;
#NET ADI2_RX_P[5]  LOC=G4  | IOSTANDARD = LVDS | DIFF_TERM = TRUE;

#output ADI_TX_FRAME;
#NET ADI2_TX_FRAME_P LOC=L7 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_FRAME_N LOC=L6 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;

#output [5:0] ADI_TX; (ROUTE TO P0)
#NET ADI2_TX_N[0]  LOC=H6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[0]  LOC=J6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_N[1]  LOC=F4  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[1]  LOC=F5  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_N[2]  LOC=G7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[2]  LOC=H7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_N[3]  LOC=F6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[3]  LOC=F7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_N[4]  LOC=N6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[4]  LOC=N7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_N[5]  LOC=K6  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_TX_P[5]  LOC=K7  | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;

#output ADI_FB_CLK;
#NET ADI2_FB_CLK_P LOC=L4 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#NET ADI2_FB_CLK_N LOC=K4 | IOSTANDARD=LVDS | SLEW=fast | DRIVE=8;
#output ADI_EN;
#NET ADI2_EN LOC=N3 | IOSTANDARD=LVCMOS18 | SLEW=fast | DRIVE=8;

#output ADI_TXRX;
#NET ADI2_TXRX LOC=D3 | IOSTANDARD=LVCMOS18 | SLEW=fast | DRIVE=8;

# REMOVED
#NET ADI2_TST_EN LOC=P4 | IOSTANDARD=LVCMOS18;


#NET "ADI2_DATA_CLK_P" TNM_NET = "ADI2_DATA_CLK_P";
#TIMESPEC "TS_ADI2_DATA_CLK_P" = PERIOD "ADI2_DATA_CLK_P" 300 MHz;
#NET "ADI2_DATA_CLK_N" TNM_NET = "ADI2_DATA_CLK_N";
#TIMESPEC "TS_ADI2_DATA_CLK_N" = PERIOD "ADI2_DATA_CLK_N" 300 MHz;

#OFFSET = IN BEFORE "ADI2_DATA_CLK_P" RISING;
#OFFSET = IN BEFORE "ADI2_DATA_CLK_P" FALLING;

#OFFSET = OUT AFTER "ADI2_DATA_CLK_P" REFERENCE_PIN "ADI2_FB_CLK_P" RISING;
#OFFSET = OUT AFTER "ADI2_DATA_CLK_P" REFERENCE_PIN "ADI2_FB_CLK_N" FALLING;




##  LEDs
##  output [3:0] ps7_GPIO_O;
#NET GPIO_O[0] LOC = Y22 | IOSTANDARD=LVCMOS33;
#NET GPIO_O[1] LOC = V21 | IOSTANDARD=LVCMOS33;
#NET GPIO_O[2] LOC = V22 | IOSTANDARD=LVCMOS33;
#NET GPIO_O[3] LOC = W19 | IOSTANDARD=LVCMOS33;

## ADI reset
#NET GPIO_O[4] LOC = T11 | IOSTANDARD=LVCMOS25; # AD1_RESET
#NET GPIO_O[5] LOC = C3  | IOSTANDARD=LVCMOS18; # AD2_RESET

## ASFE signals
#NET GPIO_O[6]  LOC = AA22 | IOSTANDARD=LVCMOS33; # ASFE_Spare_1 
#NET GPIO_O[7]  LOC = AB22 | IOSTANDARD=LVCMOS33; # ASFE_Spare_2  
#NET GPIO_O[8]  LOC = W21  | IOSTANDARD=LVCMOS33; # ASFE_RSTN     
#NET GPIO_O[9]  LOC = AA20 | IOSTANDARD=LVCMOS33; # ADI1_TX_EN    
#NET GPIO_O[10] LOC = U18  | IOSTANDARD=LVCMOS33; # ASFE_Reserve1 
#NET GPIO_O[11] LOC = V18  | IOSTANDARD=LVCMOS33; # ASFE_Reserve2 
#NET GPIO_O[12] LOC = N20  | IOSTANDARD=LVCMOS33; # ASFE_Reserve4  
#NET GPIO_O[13] LOC = P20  | IOSTANDARD=LVCMOS33; # ASFE_Reserve3  
#NET GPIO_O[14] LOC = AB20 | IOSTANDARD=LVCMOS33; # ADI2_TX_EN
#NET GPIO_O[15] LOC = Y21  | IOSTANDARD=LVCMOS33; # ASFE_Spare_3
#NET GPIO_O[16] LOC = AA21 | IOSTANDARD=LVCMOS33; # ASFE_Spare_4

## ADAPT signals
#NET GPIO_O[17]  LOC = N21 | IOSTANDARD=LVCMOS33; # IO60PPB1 
#NET GPIO_O[18]  LOC = N22 | IOSTANDARD=LVCMOS33; # IO60NPB1 
#NET GPIO_O[19]  LOC = R22 | IOSTANDARD=LVCMOS33; # IO63PPB1
#NET GPIO_O[20]  LOC = T22 | IOSTANDARD=LVCMOS33; # IO63NPB1
#NET GPIO_O[21]  LOC = T21 | IOSTANDARD=LVCMOS33; # IO62PDB1
#NET GPIO_O[22]  LOC = U22 | IOSTANDARD=LVCMOS33; # IO62NDB1
#NET GPIO_O[23]  LOC = P21 | IOSTANDARD=LVCMOS33; # IO64PDB1
#NET GPIO_O[24]  LOC = R21 | IOSTANDARD=LVCMOS33; # IO64NDB1
#NET GPIO_O[25]  LOC = T20 | IOSTANDARD=LVCMOS33; # IO67PDB1
#NET GPIO_O[26]  LOC = U20 | IOSTANDARD=LVCMOS33; # IO67NDB1
#NET GPIO_O[27]  LOC = R19 | IOSTANDARD=LVCMOS33; # IO68PDB1
#NET GPIO_O[28]  LOC = T19 | IOSTANDARD=LVCMOS33; # IO68NDB1
#NET GPIO_O[29]  LOC = T17 | IOSTANDARD=LVCMOS33; # IO69PDB1
#NET GPIO_O[30]  LOC = U17 | IOSTANDARD=LVCMOS33; # IO69NDB1
#NET GPIO_O[31]  LOC = R17 | IOSTANDARD=LVCMOS33; # IO70PDB1
#NET GPIO_O[32]  LOC = R18 | IOSTANDARD=LVCMOS33; # IO70NDB1

##USB reset
#NET GPIO_O[33]  LOC = T15 | IOSTANDARD=LVCMOS33; # USBPHY_RESET_B
##EMMC reset
#NET GPIO_O[34]  LOC = AA19 | IOSTANDARD=LVCMOS33; # eMMC_RST_N

## SPI
#NET GPIO_O[35]  LOC = N17 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_MISO
#NET GPIO_O[36]  LOC = P18 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_MOSI
#NET GPIO_O[37]  LOC = N18 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_CK
#NET GPIO_O[38]  LOC = T16 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_ASFE_SPI_CS
#NET GPIO_O[39]  LOC = P19 | PULLUP | IOSTANDARD=LVCMOS33; # PL_Bank13_SPI0_TRSS_CS

#NET GPIO_O[40]  LOC = A2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MISO
#NET GPIO_O[41]  LOC = B2 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_MOSI
#NET GPIO_O[42]  LOC = A1 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_CK
#NET GPIO_O[43]  LOC = B4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD1_CS
#NET GPIO_O[44]  LOC = A4 | PULLUP | IOSTANDARD=LVCMOS18; # PL_Bank35_SPI1_AD2_CS

#NET GPIO_O[45]  LOC = W15 | IOSTANDARD=LVCMOS25; # AD1_EN_AGC 
#NET GPIO_O[46]  LOC = T12 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN0 
#NET GPIO_O[47]  LOC = U12 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN1 
#NET GPIO_O[48]  LOC = V16 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN2 
#NET GPIO_O[49]  LOC = W16 | IOSTANDARD=LVCMOS25; # AD1_CTL_IN3 
#NET GPIO_O[50]  LOC = U13 | IOSTANDARD=LVCMOS25; # AD1_ENABLE 
#NET GPIO_O[51]  LOC = V11 | IOSTANDARD=LVCMOS25; # AD1_TXNRX 

#NET GPIO_O[52]  LOC = P3 | IOSTANDARD=LVCMOS18; # AD2_EN_AGC 
#NET GPIO_O[53]  LOC = M3 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN0 
#NET GPIO_O[54]  LOC = M2 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN1 
#NET GPIO_O[55]  LOC = K3 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN2 
#NET GPIO_O[56]  LOC = K2 | IOSTANDARD=LVCMOS18; # AD2_CTL_IN3 
#NET GPIO_O[57]  LOC = N3 | IOSTANDARD=LVCMOS18; # AD2_ENABLE 
#NET GPIO_O[58]  LOC = D3 | IOSTANDARD=LVCMOS18; # AD2_TXNRX 


##ADAPT Debug
#NET AXI_GPIO_I[0]  LOC = U19  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin35 
#NET AXI_GPIO_I[1]  LOC = V20  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin81   
#NET AXI_GPIO_I[2]  LOC = Y17  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin83   
#NET AXI_GPIO_I[3]  LOC = Y18  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin84  
#NET AXI_GPIO_I[4]  LOC = V17  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin85 
#NET AXI_GPIO_I[5]  LOC = W18  | IOSTANDARD=LVCMOS33; # ADAPT_DebPin87   
#NET AXI_GPIO_I[6]  LOC = AB18 | IOSTANDARD=LVCMOS33; # ADAPT_DebPin89   

#NET AXI_GPIO_I[7]  LOC = W11 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT0
#NET AXI_GPIO_I[8]  LOC = W10 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT1
#NET AXI_GPIO_I[9]  LOC = Y14 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT2
#NET AXI_GPIO_I[10]  LOC = Y13 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT3
#NET AXI_GPIO_I[11]  LOC = U14 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT4
#NET AXI_GPIO_I[12]  LOC = U15 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT5
#NET AXI_GPIO_I[13]  LOC = V13 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT6
#NET AXI_GPIO_I[14]  LOC = V12 | IOSTANDARD=LVCMOS25; # AD1_CTRL_OUT7

#NET AXI_GPIO_I[15]  LOC = J4 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT0
#NET AXI_GPIO_I[16]  LOC = P4 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT1
#NET AXI_GPIO_I[17]  LOC = F2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT2
#NET AXI_GPIO_I[18]  LOC = N2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT3
#NET AXI_GPIO_I[19]  LOC = P1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT4
#NET AXI_GPIO_I[20]  LOC = L1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT5
#NET AXI_GPIO_I[21]  LOC = L2 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT6
#NET AXI_GPIO_I[22]  LOC = N1 | IOSTANDARD=LVCMOS18; # AD2_CTRL_OUT7

#NET AXI_GPIO_I[23]  LOC = W20| IOSTANDARD=LVCMOS33; # ZYNQ_Ext5vdet


## ADI power step down converter switching frequency 
#NET ADP2164_Sync LOC = R16  | IOSTANDARD=LVCMOS33;

#NET FPGA_SYNC   LOC = T14  | IOSTANDARD=LVCMOS25;
#NET SI5330_LOS  LOC = AB19 | IOSTANDARD=LVCMOS33;
#NET Z7030_MRCC  LOC = J5   | IOSTANDARD=LVCMOS18;
